body {
    width: 100%;
    margin: 0;
}

form {
    /* position: fixed;
    bottom: 0; */
    text-align: center;
    width: 100%;
}

form > input, button {
    font-size: 24px;
}

button {
    border-radius: 5px;
}

#message-list {
    height: 50vh;
    overflow: auto;
    padding: 0;
    border: 1px solid black;
    margin: 20px;

}

li {
    list-style: none;
    padding: 8px;
    /* background: lightblue; */
    /* color: white; */
}

li > p {
    background: #0077be;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.typing-gif {
    height: 2rem;
}

.container {
    width: 30%;
    margin: 0 auto;
}

.message-box {
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
}

.other-user {
    background: red;
}
